.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* width: 100%; */
  /* max-width: 800px; */
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 800px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movies {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  width: 100%;
  overflow: hidden;
}
.movie {
  text-align: center;
}

.movie img {
  border-radius: 8px;
}
